.fondo {
    background-color: rgb(241, 118, 118);
    padding: 100px;
}

.hidden {
    overflow: hidden;
}

.container1 {
    background-color: rgb(219, 224, 243);
    border: 5px solid rgb(105, 104, 104);
    padding: 50px 0 0 0;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.sub-container {
    border: 2px solid rgb(156, 20, 20); 
}

.paragraph {
    background-color:rgb(219, 118, 118);
    min-height: 100px;
    height: 116px;
}

img {
    height: 350px;
    padding: 20px; 
}

img:hover {
    background-color: rgb(239, 240, 176);
}

.down {
    background-color: rgb(73, 72, 72);
    padding: 80px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.btn {
    background-color: gray;
    border-radius: 50%;
    border: 1px solid rgb(58, 58, 58);
}

.btn:hover {
    background-color: white;
    color:rgb(58, 58, 58);
}