.pokedex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
    height: 1032px;
}

.card {
    flex: 25%;
    text-align: center;
    padding: 40px;
    background-color: transparent;
    border: 1px solid #0d6efd5e
}

h5 {
    padding-bottom: 10px;
}
